@value xxlarge, large, line ,xsmall, middle from "../common/size.css";
@value white, mainBeige, lightBlack from "../common/colors.css";

.WriteListBox {
    display: flex;
    flex-direction: column;
    position: relative;
}

.titleBar {
    margin-top: large;
}
.miniboxSet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: large;
}
.load {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid lightBlack;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: xxlarge;
}
.loadMsg {
    text-align: center;
    margin-top: middle;
    font-size: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.penBox {
    border: solid line;
    width: 60px;
    height: 60px;
    border-radius: xsmall;
    position: absolute;
    left: 300px;
    top: 550px;
    background: mainBeige;
}

.penBox img {
    width: inherit;
    height: inherit;
}
.penBox:hover {
    background: white;
}
@media screen and (min-width: 700px) {
    .miniboxSet {
        width: 50%;
        margin: auto;
    }
    .penBox {
        left: 100px;
        top: 50px;
    }
}
