@value xxlarge, large, line ,xsmall, middle from "../common/size.css";
@value white, mainBeige, lightBlack from "../common/colors.css";

.WriteListBox {
    display: flex;
    flex-direction: column;
    position: relative;
}

.miniboxSet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: large;
}

.penBox {
    border: solid line;
    width: 60px;
    height: 60px;
    border-radius: xsmall;
    position: absolute;
    left: 300px;
    top: 550px;
    background: mainBeige;
}

.penBox img {
    width: inherit;
    height: inherit;
}
.penBox:hover {
    background: white;
}
@media screen and (min-width: 700px) {
    .miniboxSet {
        width: 50%;
        margin: auto;
    }
    .penBox {
        left: 100px;
    }
}
