@value xlarge, xsmall,middle, small,line from "../common/size.css";
@value lightBeige,lightBlack, black from "../common/colors.css";
.minibox {
    width: xlarge;
    height: xlarge;
    border-radius: xsmall;
    border: solid line black;
    background: lightBeige;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: small;
    transition: 0.2s ease-in-out;
}

.minibox div {
    margin-top: xsmall;
}
.minibox:hover {
    transform: scale(1.1);
}
.date {
    font-size: 18px;
    font-weight: bold;
}
.emoji {
    font-size: middle;
}
