@value large,small from "../common/size.css";
@value white, lightBlack from "../common/colors.css";
.button {
    margin-top: small;
    margin-bottom: small;
    width: 100px;
    height: large;
    border-radius: 10px;
    font-size: small;
    background: lightBlack;
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}
