@value large, small, xsmall from "../common/size.css";
@value white from "../common/colors.css";

.todayBox {
    display: flex;
    flex-direction: column;
}
.titleBar {
    margin-top: large;
}

.emtion {
    text-align: center;
    margin-top: large;
}
.question,
.diaryHeader {
    font-size: small;
}
.emtionBar {
    display: flex;
    font-size: small;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin-top: large;
    justify-content: space-around;
}

.emtionBar li:hover {
    transform: scale(1.2);
}

.pen {
    margin: auto;
    margin-bottom: xsmall;
    width: large;
}
.diary {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.diaryHeader {
    margin-bottom: xsmall;
}

.diaryTxT {
    width: 360px;
    height: 250px;
    margin: auto;
    margin-top: small;
    border-radius: xsmall;
    border: none;
    opacity: 0.8;
    text-align: center;
    font-size: small;
}
