@font-face {
    font-family: "League";
    font-style: normal;
    src: url("./LeagueSpartan-Bold.otf") format("opentype"), url("./LeagueSpartan-Bold.otf") format("woff");
}
@font-face {
    font-family: "JSDong";
    font-style: normal;
    src: url("./JSDongkang-Regular.otf") format("opentype"), url("./JSDongkang-Regular.otf") format("woff");
}
