@value grey, black, white from "../common/colors.css";
@value middle, xxsmall, xsmall from "../common/size.css";

.logoutBtn {
    font-size: middle;
    background: none;
    border: none;
    border-radius: xxsmall;
    margin-left: 85%;
    position: absolute;
    margin-top: 70px;
    margin-bottom: xsmall;
    transition: 0.2s ease-in-out;
}

.logoutBtn:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}
