@value small,xsmall, large, twenty from "../common/size.css";
@value lightBlack, white from "../common/colors.css";

.header {
    display: flex;
}

.titleBar {
    width: 250px;
    height: large;
    background: lightBlack;
    color: white;
    text-align: center;
    font-size: small;
    border-radius: xsmall;
    margin: auto;
    padding-top: twenty;
    margin-top: large;
}
