@value lightBlack, white,grey from "../common/colors.css";
@value xxlarge, xlarge,large, twenty,xsmall from "../common/size.css";
.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "League";
    font-size: large;
}
.title {
    font-size: 90px;
    margin-top: xxlarge;
}

.signIn {
    color: lightBlack;
    margin-top: large;
}

.loginBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: xlarge;
}

.loginBtn {
    background: lightBlack;
    color: white;
    width: 250px;
    height: large;
    margin-top: xlarge;
    font-size: twenty;
    margin-top: large;
    border-radius: xsmall;
    cursor: pointer;
}

.loginBtn:hover {
    background: black;
    box-shadow: 10px 5px 5px grey;
}

@media screen and (min-width: 760px) {
    .loginBtn {
        width: 600px;
        max-width: 600px;
    }
}

@media screen and (max-height: 750px) {
    .title {
        margin-top: xlarge;
    }
}
