@value lightBlack, white,grey from "../common/colors.css";
@value xxlarge, large, twenty,xsmall from "../common/size.css";
.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "League";
    font-size: 50px;
}
.titleImg {
    width: 320px;
    margin: auto;
    margin-top: 180px;
}

.signIn {
    color: lightBlack;
    margin-top: 100px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: large;
}

.loginBtn {
    background: lightBlack;
    color: white;
    width: xxlarge;
    height: large;
    margin-top: xlarge;
    font-size: twenty;
    margin-top: large;
    border-radius: xsmall;
    cursor: pointer;
}

.loginBtn:hover {
    background: black;
    box-shadow: 10px 5px 5px grey;
}
