@value mainBeige from "./components/common/colors.css";

.app {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding-bottom: 80px;
    background: mainBeige;
    font-family: "JSDong";
}
